html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rød {
  color: red;
  font-weight: 700;
}

.blå {
  color: blue;
  font-weight: 700;
}

.svart {
  color: black;
  font-weight: 700;
}